.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contacts p {
  margin: 0;

  @include vp-1023 {
    display: none;
  }
}

.contacts__link {
  font-size: 16px;
  line-height: 18px;
  font-family: "PT Mono", "Monaco", monospace;
  color: $color-alice-blue-light;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;

  &:not(:last-child){
    margin-right: 118px;

    @include vp-1439 {
      margin-right: 60px;
    }

    @include vp-1023 {
      margin-right: 20px;
    }
  }

  @include vp-1023 {
    padding: 10px 10px;

  }
}

.contacts__icon {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}
