.control__wrapper {
  max-width: 260px;
  padding-left: 26px;

  &--modal {
    max-width: 100%;
    padding-left: 36px;
  }
}

.control label {
  display: block;
  position: relative;
  font-family: "PT Mono", "Monaco", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
  color: $color-default-white;
  border-color: $color-transparent;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.control__mark {
  position: absolute;
  top: 9px;
  left: -26px;
  width: 15px;
  height: 15px;
  border: 1px solid $color-default-white;
  border-radius: 2px;
  outline: 2px solid transparent;
  outline-offset: 2px;

  &--modal {
    top: 0;
  }
}

.control input:checked + .control__mark::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 6px;
  background-image: url("../../img/svg/checkbox.svg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control input:focus + .control__mark {
  outline: 2px solid $color-black-pearl;
}
