.contacts-footer {
  @include vp-1439 {
    margin-left: auto;
  }

  @include vp-1023 {
    margin-left: 0;
  }
}

.contacts-footer__address {
  display: flex;
  flex-direction: column;
}

.contacts-footer__address-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts-footer__address-item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.contacts-footer__address p {
  font-family: "PT Mono", "Monaco", monospace;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: $color-white-footer;
  margin: 0;
  margin-bottom: 9px;

  @include vp-1023 {
    margin-bottom: 8px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }
}

.contacts-footer__address a {
  display: inline-block;
  font-family: "PT Mono", "Monaco", monospace;
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  color: $color-white-footer;
  text-align: left;
  text-decoration: none;
  outline-offset: -2px;

  @include vp-767 {
    font-size: 14px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}
