.contacts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;


  @include vp-1023 {
    align-self: flex-start;
    gap: 20px;
  }
}

.contacts p {
  margin: 0;

  @include vp-1023 {
    display: none;
  }
}

.contacts__link {
  min-width: 225px;
  font-size: 16px;
  line-height: 18px;
  font-family: "PT Mono", "Monaco", monospace;
  color: $color-alice-blue-light;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 0;

  @include vp-1023 {
    min-width: auto;
    padding: 10px 10px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}

.contacts__icon {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
  }
}
