.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 480px;
  margin-right: 145px;
}

.contacts p {
  @media (max-width: $vp-768) {
    display: none;
  }
}

.contacts__link {
  font-size: 16px;
  line-height: 18px;
  font-family: "PT Mono", "Monaco", monospace;
  font-style: normal;
  color: $color-alice-blue-light;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 225px;

  &:not(:last-child){
    margin-right: 30px;
  }


  @media (max-width: $vp-1024) {
    padding: 10px 10px;
    margin-right: 20px;
  }
}

.contacts__icon {
  margin-right: 15px;

  @media (max-width: $vp-1024) {
    margin-right: 0;
  }
}
