.footer {
  padding-top: 52px;
  padding-bottom: 43px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 50px;
    padding-bottom: 65px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 33px;
  }
}

.footer__container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;

  @include vp-1439 {
    padding: 0 32px;
  }

  @include vp-1023 {
    padding-left: 50px;
    padding-right: 45px;
    flex-direction: column;
  }

  @include vp-767 {
    padding-left: 0;
    padding-right: 0;
    min-width: 270px;
  }
}

.footer__logo {
  margin-bottom: 30px;

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}

.footer__wrapper {
  display: flex;
  margin-left: 130px;
  padding-right: 37px;
  padding-top: 3px;

  @include vp-1439 {
    margin-left: auto;
  }

  @include vp-1023 {
    margin-left: 0;
    padding-right: 0;
    padding-top: 0;
  }

  @include vp-767 {
    flex-direction: column;
    min-width: 270px;
  }
}

.footer__menu {
  &:not(:last-child) {
    margin-right: 30px;

    @include vp-1023 {
      margin-right: 130px;
    }

    @include vp-767 {
      margin-right: 0;
    }
  }

  @include vp-767 {
    position: relative;

    &.is-active > .accordion__button-footer::after {
      transform: translate(-50%, -50%) rotate(180deg);
    }

    &.is-active {
      padding-bottom: 15px;
    }
  }
}

.footer__menu-wrapper {
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color-alice-blue-line;
    bottom: 0;
    left: 0;
  }
}

.footer__menu-title {
  position: relative;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  background-color: $color-black-pearl;
  border: none;

  @include vp-767 {
    margin-bottom: 0;
    padding-left: 25px;
    padding-right: 26px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  column-count: 2;
  column-gap: 30px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__menu-item {
  width: 220px;

  &:not(:last-child) {
    margin-bottom: 6px;

    @include vp-1023 {
      margin-bottom: 5px;
    }
  }

  &:last-child {
    margin-bottom: 46px;

    @include vp-1023 {
      margin-bottom: 0;
    }
  }

  @include vp-767 {
    width: 100%;
  }
}

.footer__menu-item a {
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Monaco", monospace;
  font-weight: 400;
  color: $color-white-footer;
  text-align: left;
  outline-offset: -2px;

  @include hover-focus {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.6;
  }
}
